{% extends "base.html" %}

{% block content %}
  <h1>Magazyn danych</h1>
  <p>Tutaj możesz zarządząć zbiorami danych (zbiorami plików), które posiadają nazwę, datę utworzenia oraz właściciela. Zbiory
  danych mogą być wykkorzystywane przez scenariusze. Zbiory danych mogą również służyć do wymiany plików między członkami zespołów.</p>
  <p>Here you can manage datasets (sets with files) which have name, date of creation and an owner. The datasets will be later used by scenarios.
      The datasets can also be used as a storage for file exchange between members of the teams.</p>

  <h3>Zbiory danych</h3>
  <p>Tabela zbiorów danych do których masz uprawnienia.</p>
  <table class="table">
  <thead>
    <tr>
        <th>L.p.</th>
        <th>Operacje</th>
        <th>Data utworzenia</th>
        <th>Nazwa</th>
        <th>Liczba plików</th>
        <th>Uwagi</th>
        <th>Ostatnia modyfikacja</th>
    </tr>
  </thead>
  <tbody>
    {% for ds in datasets -%}
    <tr>
        <td>1.</td>
        <td><a href="/data/{{  ds.id }}">(Otwórz)</a></td>
        <td>{{ ds.date_created }}</td>
        <td>{{ ds.name }}</td>
        <td>-</td>
        <td>{{ ds.short_notes }}</td>
        <td>{{ ds.date_modified|datetime }} przez {{ ds.user_modified.username if ds.user_modified else '-' }}</td>
    </tr>
    {% endfor -%}

  </tbody>
  </table>

  <div>
    <a class="btn btn-success" id="new_dataset_btn" href="#" onclick="show_new_dataset()">Nowy zbiór danych</a>

      <form id="new_dataset" class="form-horizontal" action="/data/add" method="POST">
          <div class="form-group">
            <label class="control-label col-sm-2" for="Data_utworzenia">Data utworzenia:</label>
            <div class="col-sm-4">
                <input id="Data_utworzenia" class="form-control" name="date_created" type="text" value="" placeholder="(Format: dd.mm.YYYY, np. 29.10.2016)"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="Nazwa">Nazwa:</label>
            <div class="col-sm-4">
                <input class="form-control" name="name" id="Nazwa" type="text" value="" placeholder="(Nazwa przypadku)"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="notes">Krótkie uwagi:</label>
            <div class="col-sm-4">
                <input class="form-control" id="notes" name="short_notes" type="text" value="" /> <small>(Krótkie adnotacje, widoczne na liście ze zbiorami danych.)</small>
            </div>
          </div>

          <div class="form-group">
              <button class="btn btn-success" type="submit">Dodaj</button>
              <a href="#" onclick="hide_new_dataset();">(Anuluj)</a>
          </div>
        </form>
        <script lang="javascript">
            function hide_new_dataset() {
                $("#new_dataset").hide();
                $("#new_dataset_btn").show();
            }
            function show_new_dataset() {
                $("#new_dataset").show();
                $("#new_dataset_btn").hide();
            }
            hide_new_dataset();
        </script>
  </div>

{% endblock %}
