{% extends "base.html" %}
{% import 'rass.html' as rass %}

{% block content %}
  <ul id="navigation">
  {% for item in navigation %}
    <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
  {% endfor %}
  </ul>

  <h1>Aplikacja RasS Politechnika Warszawska</h1>

  <p>System umożliwia wymianę danych między zespołami pracującymi nad planowaniem radioterapii.
  Do jego zasadniczych funkcji należy:</p>
  <ul>
    <li>Wymiana danych (plików) między zespołami za pomocą wspólnego <a href="/data/">Magazynu danych</a></li>
    <li>Uruchamianie scenariuszy zadań</li>
  </ul>

  Dostępne scenariusze:
  {{ rass.scenario_list(scenarios) }}
{% endblock %}
