select {
  width: auto;
}

input[type="file"] {
  vertical-align: top;
}

.indent {
  margin-left: 2em;
}

.alert-secondary {
    color: #464a4e;
    background-color: #e7e8ea;
    border-color: #dddfe2;
}

.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.float-none {
  float: none !important;
}

.link-muted {
  color: #464a4e;
}

/* Poniższe dwa style sa używane w dataset aby sprawnie wyświetlać na dole strony
   wybrane pliki do obróki.
*/
body {
  position: relative;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 50%;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  border: 2px solid #afafaf;
  border-top-left-radius: 10px;
  z-index: 1000;
}