{% macro file_select_or_upload(name, possible_files) -%}
  {% if possible_files|count -%}
    {{ file_select(name, possible_files, False) }}
  {% else -%}
    {{ file_upload(name) }}
  {% endif -%}
{% endmacro -%}

{% macro file_select(name, possible_files, input_hidden=True) -%}
  <select name="{{ name }}">
  {% if possible_files|count -%}
    {% for file in possible_files -%}
      {% if file.selected -%}
        <option value="{{ file.uid }}" selected="selected">{{ file.name }} ({{ file.path }})</option>
      {% else -%}
        <option value="{{ file.uid }}">{{ file.name }} ({{ file.path }})</option>
      {% endif -%}
    {% endfor -%}
  {% else -%}
    <option selected="selected" disabled="disabled">Brak pasujących plików</option>
  {% endif -%}
  </select>

  {{ file_upload(name, hidden=input_hidden) }}
{% endmacro -%}

{% macro file_upload(name, hidden=False) -%}
  {% if hidden -%}
    <input type="file" name="{{ name }}" hidden="hidden"/>
  {% else -%}
    <input type="file" name="{{ name }}"/>
  {% endif -%}
{% endmacro -%}

{% macro file_hidden(name, value) -%}
    <input type="hidden" name="{{ name }}" value="{{ value }}"/>
    <input type="file" name="{{ name }}" hidden="hidden"/>
{% endmacro -%}

{% macro scenario_list(scenarios) -%}
  <ul>
  {% for key, scenario in scenarios.iteritems() -%}
    <li><a href="/{{ scenario.href }}/">{{ scenario.name }}</a></li>
  {% endfor -%}
  </ul>
{% endmacro -%}

{% macro debug_panel(context) -%}
<div>
  <h1>Debug</h1>
  {% for key, value in context.iteritems() -%}
      <li>{{ key }} = {{ value }}</li>
  {% endfor -%}
</div>
{% endmacro -%}
